@import "../../variables.scss";

@keyframes gridSlideUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.officer-section {
  .title {
    font-family: $font-heading;
    font-size: 5rem;
    color: $White;
    font-weight: 600;
    text-align: center;
    padding: 3rem 0;

    @media screen and (max-width: 768px) {
      font-size: 3.2rem;
    }
  }

  .section-title {
    font-family: $font-heading;
    font-size: 3rem;
    color: $White;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;

    @media screen and (max-width: 768px) {
      font-size: 2.4rem;
    }
  }

  .officer-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    padding-bottom: 3rem;
    flex-basis: 3rem;
  }

  .people-group:last-child .officer-grid {
    padding-bottom: 5rem;
  }
}
