@import "../../variables.scss";

.officer-box {
  position: relative;
  display: inline-block;
  width: 20%;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    padding: 0.5rem;
    background-color: rgba($White, 0.75);
  }

  p {
    user-select: none;
  }

  .officer-name {
    font-family: $font-heading;
    font-size: 1.5rem;
    color: $Black;
    text-transform: uppercase;
    font-weight: 600;
  }

  .officer-position {
    font-family: $font-body;
    font-size: 1rem;
    color: $Black;
    text-transform: capitalize;
    font-weight: 400;
  }
}

@media screen and (max-width: 940px) {
  .officer-box {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .officer-box {
    width: 80%;
  }
}
