@import '../../variables.scss';

.events {
    // Styles are nested here:
    background-color: $EerieBlack;

    .page-head {
        padding: 5vw;

        .events-header {
            color: $White;
            font-size: 3rem;
            line-height: 150%;
        }

        .page-head-text {
            color: $DarkWhite;
            font-size: 1.15rem;
            padding-top: 2rem;
        }
    }

    .events-section {
        border-top: solid white 1px;

        .events-list {
            width: 100%;
            padding: 4rem;
            gap: 3rem;

            display: flex;
            flex-direction: column;
        }
    }

    .empty-state-container {
        background-color: $EerieBlack;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        border: white 1px solid;

        .empty-state-text {
            color: $White;
            font-size: 3rem;
            text-align: center;
        }
    }

    @media screen and (max-width: 768px) {
        .events-section {
            .events-list {
                padding: 3rem 0;
                margin: auto;
                width: 85%; 
            }
        }   
    }
}